main {
	margin: 0 auto;
	max-width: 80ch;
	padding: 1rem;
}

.line {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}
.line > div {
	display: flex;
	flex-direction: row;
	width: auto;
	height: auto;
	flex: 1;
}
.line > div > img {
	flex: 1 1 0;
	width: 0;
	min-width: 0;
	height: auto;
}

.hide {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
