main {
	margin: 0 auto;
	max-width: 80ch;
	padding: 1rem;
}

section,
header {
	margin-bottom: 6rem;
}

header .neocat {
	padding: 1rem;
	border-radius: 1rem;
	border: 5px double hsl(354, 67%, 76%);
	background: hsl(336, 8%, 15%);
}

button {
	float: right;
	margin-top: 0.5rem;
	border-radius: 0.4rem;
	transition: background 0.1s ease;
}

button:hover {
	background: hsl(354, 67%, 70%);
}

footer {
	text-align: center;
}

pre {
	max-height: 10em;
	margin: 0;
}

.neocat {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}
.neocat > div {
	display: flex;
	flex-direction: row;
	width: auto;
	height: auto;
	flex: 1;
}
.neocat > div > img {
	flex: 1 1 0;
	width: 0;
	min-width: 0;
	max-width: 30px;
	height: auto;
	margin: 0;
}

.hide {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
